* {
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgb(50, 50, 50);
  color: #fff;
}

main {
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  font-style: italic;
  font-weight: bold;
}

form {
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  text-align: center;
}

button.btn {
  font-weight: bold;
}

.e404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.e404 h1 {
  color: #ffc107;
  font-weight: bolder;
  font-size: 7em;
}

.e404 h2 {
  font-weight: bold;
  font-size: 2.5em;
}

.e404 img {
  max-width: 500px;
}

.e404 h2,
.e404 a {
  margin-top: 30px;
}

.e404 a {
  max-width: 500px;
  color: #323232;
  font-weight: bold;
}
